# Red Bucket Module Testing Workflow
name: Testing Red Bucket Module
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3.1.2
        with:
          terraform_version: 1.14.3
      - name: Set up Go
        uses: actions/setup-go@v6.2.0
        with:
          go-version: "1.25.6"
      - name: Checkout code
        uses: actions/checkout@v6.0.1
      - name: Setup Dependencies
        working-directory: tests/
        run: go get -v -t -d && go mod tidy
      - name: Test
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
          APEX_DOMAIN: ${{ secrets.APEX_DOMAIN }}
        working-directory: tests/
        run: go test -timeout 30m red_bucket_test.go -v
